
<div class="header">
  <div class="header-mian">
    <div class="logo"></div>
    <div class="header_container">
      <div class="header-top">
        <div class="login-container">
          <div (click)="common.loginModalVisible=true">登录</div>
          <div routerLink="/register">注册</div>
        </div>
      </div>
      <ul class="header-bottom">
        <ng-container *ngFor="let list of arrList">
        <li  routerLinkActive="active">
          <a [routerLink]=" list.url" >{{list.menuNameCn}}</a>
        </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<app-dailog *ngIf="common.dailogVisible"></app-dailog>

