<div class="footer">
  <div class="footer-box">
    <div class="footer-logo"></div>
    <div class="abouts">
      <div class="abouts_box">
        <a routerLink="/help/about">关于我们</a>
        <a routerLink="/help/question">常见问题</a>
        <a routerLink="/help/deposit">存款帮助</a>
        <a routerLink="/help/withdraw">取款帮助</a>
        <a routerLink="/help/concat">联络我们</a>
        <a routerLink="/home/join">代理加盟</a>
      </div>
      <p class="copy">©2022 百智生活 版权所有</p>
    </div>

  </div>
</div>
